<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <form method="POST" action="/login">
            <label for="username">Nome:</label>
            <input type="text" id="username" name="username" minlength="3" required>
            <br>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
            <br>
            <button type="submit">Login</button>
        </form>
        {% if validacao==False %}
            <br>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Usuário não encontrado ou senha incorreta
            </div>
        {% endif %}
    </div>
</body>
</html>